# **Hypothesis Testing With Insurance Data**

_John Andrew Dixon_

---

##### **Imports**

In [31]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import scipy.stats as stats
import seaborn as sns

##### **Data Load**

In [32]:
# Remote URL to data
url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQ62VropqXZ6k0RwX0ErcJ-vwnCzfq2dD_vDiUEmaOyE4Xx8SW7dDkPoFa_LCH4zBsfrW6uinsvmgr_/pub?output=csv"
# Load the data
df = pd.read_csv(url)
# Verify
df.sample(5)

      age     sex     bmi  children smoker     region      charges
668    62    male  32.015         0    yes  northeast  45710.20785
80     31    male  26.885         1     no  northeast   4441.21315
1117   25    male  33.330         2    yes  southeast  36124.57370
489    53    male  31.160         1     no  northwest  10461.97940
928    62  female  39.160         0     no  southeast  13470.80440

--- 

## **Tests**

#### **_Do smokers have higher insurance charges than non-smokers?_**

##### _Hypotheses_

**Null Hypothesis:** There is no difference between insurance charges of non-smokers and insurance charges of smokers. 

**Alt. Hypothesis:** There is a remarkable difference betwee insurance charges of non-smokes and insurance charges of smokers.

##### _Test Choice_

There are two groups/samples we are comparing (smokers v. non-smokers). For each, we're comparing numerical data (amount charged). So, I perceive we will run a **Independer/2-Sample T-Test**.

For this test I'll use an alpha value of 0.05.

##### _Testing Assumptions_

Check and remove outliers:

In [33]:
# Get only smokers
smokers = df.loc[df["smoker"] == "yes", :]
# Get non-smokers
non_smokers = df.loc[df["smoker"] == "no", :]

In [35]:
# Reveal potential outliers
smokers_zscores = stats.zscore(smokers["charges"])
smokers_outliers = abs(smokers_zscores) > 3
print(f"There are {np.sum(smokers_outliers)} outliers for smokers")

There are 0 outliers for smokers

In [36]:
# Reveal potential outliers
non_smokers_zscores = stats.zscore(non_smokers["charges"])
non_smokers_outliers = abs(non_smokers_zscores) > 3
print(f"There are {np.sum(non_smokers_outliers)} outliers for non-smokers")

There are 24 outliers for non-smokers

In [ ]:
# Remove non-smoker outliers

##### **_Are men more likely to smoke than women?_**

**Null Hypothesis:**

**Alt. Hypothesis:**

##### **_Do different regions have different charges, on average?_**

**Null Hypothesis:**

**Alt. Hypothesis:**